{% extends 'main/index.html' %}
{% load static %}

        {% block content %}
           


            <section class="section context-dark section-jumbotron bg-cover" style="background: url(/../static/images/bg-image.jpg) #151515">
              <div class="panel-left"><a class="brand" href="{% url 'main' %}"><img class="brand-logo-light" src="{% static 'images/logo-alfa2.png'%}" alt="" width="86" height="104"/></a>
              </div>
                <div class="section-fullheight">
                  
                  <div class="section-fullheight-inner section-md text-center text-lg-left">
                    <div class="container">
                        <h2 class="">АЛЬФАГРАД</h2>
                        <p class="big-2 text-white-darken">{{ base_level.description }}</p>
                        <div class="row row-custom-width row-30 row-xxl-100 row-flex">
                            <div class="col-sm-6 col-lg-4 wow fadeInRight" data-wow-delay="0.2s">
                                <img src="/{{objs.img}}" alt="{{objs.title}}"/>
                            </div>
                        </div>

                      <div class="row justify-content-center justify-content-lg-start">

                        <div class="col-md-10 offset-lg-1 col-lg-8 offset-xl-1 col-xl-9 offset-xxl-2 col-xxl-7">
                          <div class="jumbotron-custom-1">
                            <div class="text-1 font-weight-medium"></div>

                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </section>

        {% endblock %}